.search {
  
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 400px;
    line-height: 30px;
    margin-bottom: 30px;

    align-items: right;
    font-family: 'Bebas Neue',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 18px;
    /* border: 1px solid grey; */
  }
  